@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


:root {
    --color_rosa: #FF518B;
    --color_blanco: #fff;
    --color_gris_claro: #EEEDEB;
    --color_gris: #e6e6e6;
    --color_dorado: #FFD700;
    --color_negro: #000;
}


a {
    color: #fff;
    text-decoration: none;
}


header {
    border-radius: 1rem;
    color: var(--color_blanco);
    background: var(--color_rosa);
}

.logo {
    display: block;
    font-size: clamp(.2rem, 8vw, 3rem);
    font-weight: 900;
}

.boton {
    cursor: pointer;
    font-size: 2rem;
}

.buscador {
    width: 85%;
    margin: 0 auto;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: var(--color_gris_claro);
}

.search-input {
    flex: 1;
    border-radius: 0;
    border: 1px solid #ced4da;
    padding: 1rem 0 1rem 1rem;
    box-shadow: none !important;
    border: 0;
    background: var(--color_gris_claro);

}

.search-icon {
    border: 1px solid #ced4da;
    background: #FF518B;
    border-left: 0;
    border-radius: 0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.search-icon i {
    font-size: 1.3rem;
}


main {
    overflow: hidden;
}



.banner {
    width: 95%;
    overflow: hidden !important;
    margin: 0 auto;
}

#swiper-banner {
    width: 100%;
    height: 100%;
}


#swiper-banner .swiper-slide {
    width: 80% !important;
    height: 40vh !important;
    background: var(--color_rosa);
    border-radius: 2rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
    box-sizing: border-box !important;
}

#swiper-banner .swiper-slide-next,
#swiper-banner .swiper-slide-prev {
    width: 20%;
}

#swiper-banner .swiper-slide-prev,
#swiper-banner .swiper-slide-next {
    opacity: 0.8;
    /* Opacidad para slides adyacentes */
}

#swiper-banner .swiper-wrapper {
    display: flex;
    align-items: center;
}

#swiper-banner .swiper-pagination {
    bottom: 10px;
}



/* Personalización de la paginación */
#swiper-banner .swiper-pagination-bullet {
    background-color: #888; /* Color de los puntos inactivos */
    border-radius: .4rem; /* Hace los bullets redondos */
    margin: 0 0.3rem; /* Espacio entre bullets */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
}

/* Estilo para el bullet activo */
/* Estilo para el bullet activo */
#swiper-banner .swiper-pagination-bullet-active {
    background-color: var(--color_rosa); /* Color del bullet activo */
    width: 1.5rem;
    transform: scale(1.2); /* Aumenta el tamaño del bullet activo */
}




/* Slider de botones de categorías */
#swiper-botones button {
    width: max-content !important;
    height: max-content !important;
    background: none;
    padding: .8rem 2rem !important;
    border: none;
    border-radius: 8px;
    background: var(--color_gris);
}

#swiper-botones button:first-child {
    background: var(--color_rosa);
    color: var(--color_blanco);
}


/* Slider de tarjetas de productos TODOS */
.card {
    border: none;
    /* Quita el borde de la card */
    box-shadow: none;
    /* Quita la sombra por defecto */
    position: relative;
    border-radius: 1rem;
    background: var(--color_gris);
    color: var(--color_negro);
    width: 280px !important;
    height: max-content;
    overflow: hidden;
}

.card-banner {
    position: absolute;
    top: 0;
    left: 0;
    padding: .5rem 2rem;
    background: var(--color_rosa);
    color: var(--color_blanco);
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    /* Número de líneas a mostrar */
    line-height: 1.5;
    /* Ajusta la altura de línea según tus necesidades */
    max-height: 4.5em;
    /* Establece la altura máxima para 3 líneas (1.5em * 3) */
}

.price-old {
    text-decoration: line-through;
    color: #888;
}

.price-new {
    color: #d9534f;
    font-weight: bold;
}

.btn-add-to-cart {
    background: var(--color_rosa);
    color: var(--color_blanco);
}

.btn-add-to-cart:hover {
    background: var(--color_rosa);
    color: var(--color_blanco);
}



.card-horizontal {
    display: flex !important;
    flex-direction: row;
    border: none;
    /* Elimina el borde */
    box-shadow: none;
    /* Elimina la sombra por defecto */
    width: 450px !important;
}

.card-horizontal img {
    width: 40%;
    /* Ajusta el ancho de la imagen */
    object-fit: cover;
    /* Asegura que la imagen se ajuste correctamente */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price {
    font-weight: bold;
    color: #d9534f;
}

.btn-buy {
    background-color: var(--color_rosa);
    color: var(--color_blanco);
    border: none;
}

.btn-buy:hover {
    background-color: var(--color_rosa);
    color: var(--color_blanco);
    border: none;
}


/* Sección de ¿por qué preferirnos? */



/* |footer */




@media (max-width: 768px) {
    header {
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    .buscador {
        width: 90%;
    }

    .search-container {
        border-radius: 10px;
    }

    .search-input {
        padding: 1.5rem 0 1rem 1.5rem;
    }

    .banner {
        height: 30vh;
    }

    #swiper-banner .swiper-slide {
        height: 15vh !important;
    }


    .card {
        width: 220px !important;
    }

    .card-horizontal {
        width: 350px !important;
    }
}